.sekcja4 {
    border-top: 0.3em solid $color2;
    border-left: 0.7em solid $color2;
    border-right: 0.7em solid $color2 ;
    &__content {
      width: 100vw;
      height: auto;
      @include center;
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      gap: 50px;
      &--image {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;  
        align-items: center;     
        
        img {

          border-radius: 50%;
          object-fit: cover;
        }

    }
  }

}